html {
  scroll-behavior: smooth;
  font-family: cursive;
}

h2, h1 {
  text-align: center;
}

.navbar {
  display: flex;
  background-color: rgb(80, 78, 78);
}
.logo {
  margin-right: 200px;
}
.logo_img {
  width: 80px;
  height: 80px;
}

a {
  color: white;
  text-decoration: none;
}
.nav {
  color: white;
  margin-top: 12px;
  font-size: 20px;
}
.nav li {
  list-style: none;
  display: inline;
  margin: 38px;
}

/* banner */
.banner {
  background-image: url(images/pexels-arina-krasnikova-6663368.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
.btn-round {
  color: white;
  padding: 12px;
  border-radius: 25px;
  background: #e022aa;
  transition: background 0.3s ease;
  margin-left: 600px;
}
.btn-round:hover {
  background-color: rgb(80, 78, 78) ;
}


/* about us */
.about {
  margin: 20px;
  line-height: 26px;
}

/* services */
.services-card {
  margin-left: 80px;
  margin-bottom: 32px;
}

.service-card {
  width: 300px;
  height: 200px;
  padding: 8px;
  margin: 16px;
  display: inline-block;
  position: relative;
}

.service-card img {
  width: 300px;
  height: 200px;
}

.service-card:hover img {
  opacity: 0.3;
}
.service-card:hover .details {
  display: block;
  text-align: center;
  align-content: center;
}

.details {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  color: #e022aa;
}

/* highlights */
.highlights img{
  display: block;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  transition: 0.3s;
  margin-bottom: 20px;
}
.highlights p {
  margin: 20px;
  line-height: 26px;
}

/* footer */
.footer {
  background: #F4F4F4;
  color: #e022aa;
  text-align: center;
  padding: 4px 8px;
  display: flex;
  font-size: small;
  justify-content: space-between;
}
.footer-service{
  text-align: left;
}
.footer li {
  list-style: none;
}
.footer-links {
  margin-top: 4px;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .nav li {
    display: inline;
    margin: 4px;
    font-size: 14px;
  }
  .logo {
    margin: 0px;
  }
  .banner h1 {
    font-size: 18px;
  }
  .btn {
    margin-left: 200px;
  }
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }
  .highlights img {
    width: 400px;
    height: 200px;
  }
  .footer-links a{
    font-size: 12px;
  }
  .footer{
    font-size: 8px;
  }
  .footer img {
    width: 20px;
  }

}
